fit_to_page_width =
goto_beginning gg
goto_end G
move_left h
move_right l
next_item n
next_page J
next_page <PageDown>
previous_item N
previous_page K
previous_page <PageUp>
quit q
screen_down j
screen_down d
screen_down <Space>
screen_down <C-d>
screen_up k
screen_up u
screen_up <S-Space>
screen_up <C-u>
search /
search <C-f>
zoom_in +
zoom_in <C-ScrollWheelUp>
zoom_out -
zoom_out <C-ScrollWheelDown>
