background_color #1e1e2e
custom_background_color #1e1e2e
custom_text_color #cdd6f4
highlight_color_a #f9e2af
highlight_color_b #a6e3a1
highlight_color_c #89b4fa
highlight_color_d #f38ba8
highlight_color_e #cba6f7
highlight_color_f #fab387
highlight_color_g #f9e2af
link_highlight_color #89b4fa
search_highlight_color #f9e2af
startup_commands toggle_visual_scroll;toggle_custom_color
status_bar_color #181825
status_bar_text_color #cdd6f4
synctex_highlight_color #a6e3a1
text_highlight_color #f9e2af
ui_background_color #181825
ui_selected_background_color #313244
ui_selected_text_color #cdd6f4
ui_text_color #cdd6f4
visual_mark_color #313244
